.git
.github
.docs
.plans
.vscode
.turbo
.bun
.DS_Store
.env
.env.local
.idea
.logs
.t3
.tanstack
.vitest-*
node_modules
build
release
release-mock
squashfs-root
apps/*/dist
apps/*/dist-electron
apps/*/.turbo
apps/web/.playwright
apps/web/playwright-report
apps/web/src/components/__screenshots__
packages/*/dist
packages/*/.turbo
*.log
*.tsbuildinfo
__screenshots__/
